html {
  background-color: #f2e9e4;
}

body {
  text-align: center;
  background-color: #4a4e69;
  margin: auto;
  margin-top: 30px;
  width: 800px;
  height: 500px;
  padding: 20px;
  border-style: 3px solid #5e503f;
  color: rgb(241, 239, 239);
  border: 3px solid rgb(36, 34, 59);
}

p {
  font-size: 18px;
}

button {
  font-size: 18px;
  margin-left: 8px;
  border-radius: 5px;
  padding: 5px;
  background: #22223b;
  color: white;
}
